<div class="p3 col-lg-6 offset-lg-3">
    <h3 class="mb-5 mt-5">Restore lost password</h3>
    <p class="mb-3">Enter your registered e-mail adress:</p>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" placeholder="name@example.com">
        <label for="email">E-mail address</label>
    </div>
    <div class=" d-flex gap-4">
        <button class="mb-3 btn btn-primary" (click) = "send()"><i class="bi bi-send-arrow-up-fill"></i> Send</button>
        <button class="mb-3 btn btn-secondary" routerLink="/login"><i class="bi bi-door-open-fill"></i> Login</button>
    </div>
</div>