<div class="p3 col-lg-6 offset-lg-3">
    <h3 class="mb-5 mt-5">Update profile data</h3>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" placeholder="name@example.com">
        <label for="name">Username</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" placeholder="name@example.com">
        <label for="email">E-mail address</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="phone" placeholder="Phone">
        <label for="phone">Phone number</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="address" placeholder="Phone">
        <label for="address">Address</label>
    </div>
    <hr>
    <div class="form-floating mb-3">
        <input type="text" class="form-control"disabled id="registrationDate" placeholder="Phone">
        <label for="registrationDate">Registration date:</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control"disabled id="lastLoginDate" placeholder="Phone">
        <label for="lastLoginDate">Last login date</label>
    </div>
    <div class=" d-flex gap-4">
        <button class="mb-3 btn btn-primary" (click) = "save()"><i class="bi bi-floppy-fill"></i> Save</button>
    </div>
</div>