<div class="p3">
    <div class="text-center">
        <i class="bi bi-house-fill"></i>
        <h1>Welcome in our page!</h1>
    </div>
    <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, omnis consequatur.
        Commodi aliquid, adipisci, accusamus distinctio voluptate facilis eos molestiae autem incidunt unde labore.
        Aspernatur itaque enim eligendi iste eius. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed,
        suscipit dolores corrupti unde odio, asperiores veritatis labore rem inventore earum ipsum reiciendis
        praesentium amet culpa, totam expedita? Tempora, similique repellendus!
        Atque illum sit corrupti explicabo dolor! Nemo at atque reiciendis maiores labore error nesciunt, est rem
        consequatur consectetur molestias quis provident voluptatum sequi modi recusandae officiis aut dolore ab itaque.
        Culpa, provident? Tenetur velit officia suscipit fuga praesentium vero perspiciatis assumenda sed dolorem, sit
        totam soluta culpa, neque tempore magni aliquam aut autem distinctio molestias dolor. Nisi quisquam magni
        debitis?
        Ducimus explicabo quo officiis illum architecto eos placeat deserunt quis tempore porro soluta, ad perferendis!
        Tempora unde saepe qui! Aut, asperiores. Quis recusandae voluptas harum aliquam fugit! Vero, natus quas.
        Itaque aut reiciendis deserunt aliquid quaerat! Magnam quas libero iusto dolor repudiandae aut adipisci minus
        corporis repellendus in. Voluptatum voluptatibus nihil dicta adipisci minus veritatis eum error facilis sit
        tempora.</p>
</div>